<div class="search-top-box">
    <div class="sch-form-wrap">
        <div class="sch-input">
            <input type="text" class="krds-input" placeholder="검색어를 입력해주세요" title="검색어 입력">
            <button type="button" class="krds-btn medium icon ico-search">
                <span class="sr-only">검색</span>
                <i class="svg-icon ico-sch"></i>
            </button>
        </div>
        <!-- <button type="button" class="krds-btn medium text"><i class="svg-icon ico-sch-plus"></i>고급검색</button> -->
    </div>

    <div class="">

    </div>

    <div class="sch-filter-box"></div>
</div>